* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-container {
  background-color: #2c0e3a;
  height: 15vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.website-logo {
  height: 30px;
  width: 100px;
}

.timer-image {
  height: 20px;
  width: 20px;
  margin-top: 15px;
  margin-left: 20px;
}

.timer-count {
  color: #fec653;
}

.score-timer-container {
  display: flex;
  justify-content: space-around;
  width: 15vw;
  margin-right: 20px;
}

.middle-container {
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-container {
  height: 50vh;
  width: 65vw;
  background-size: cover;
  list-style-type: none;
  margin-top: 20px;
  border-radius: 10px;
}

.main-image {
  height: 50vh;
  width: 65vw;
  border-radius: 10px;
}

.link-container {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  width: 48vw;
  margin-left: 90px;
}

.link {
  cursor: pointer;
  list-style-type: none;
  font-weight: bold;
}

.unordered-list-thumbnail-container {
  display: flex;
  justify-content: flex-start;
  width: 70vw;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-top: 20px;
}

.thumbnail-container {
  height: 15vh;
  width: 15vw;
  list-style-type: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}

.thumbnail-image {
  height: 15vh;
  width: 15vw;
  border-radius: 5px;
}

.tab-button {
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  color: #ffffff;
  font-size: 20px;
  outline: none;
  min-width: 60px;
  height: 40px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.highlight-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 50px;
  list-style-type: none;
  padding: 0px;
  border-bottom: 2px solid #fec653;
}

.image-button {
  width: 86px;
  height: 86px;
  background-color: transparent;
  border-style: none;
  outline: none;
  margin-right: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.second-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  height: 600px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.trophy-image {
  width: 280px;
  height: 220px;
  margin-top: 180px;
}

.main-heading {
  color: #ffffff;
  font-size: 18px;
  margin: 0px;
}

.your-score {
  color: white;
  font-size: 34px;
  margin: 10px;
  margin-bottom: 25px;
}

.play-button {
  width: 160px;
  padding: 10px;
  background-color: #cf60c8;
  border-radius: 10px;
  font-size: 16px;
  border-style: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.restart {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
